version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "fix(deps)"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "quarterly"
    commit-message:
      prefix: "fix(deps)"