@keyframes beat-fade {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.1);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img.hero {
    height: auto;
    width: auto;
    max-width: 400px;
    min-width: 220px;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.intro-section {
    text-align: center;
    margin-bottom: 30px;
}

img[data-zoomable] {
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.lightbox {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999 !important;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox--open {
    display: flex !important;
}

.lightbox__image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease-in-out;
}



[data-md-color-scheme="indigo"] {
  --md-primary-fg-color: #004263;
  --md-primary-fg-color--light: #4b9cd3;
  --md-primary-fg-color--dark: #004263;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #004263;
  --md-primary-fg-color--light: #4b9cd3;
  --md-primary-fg-color--dark: #004263;
  --md-code-bg-color: #151B23; /* sets code block background */
  --md-default-bg-color: #0D1117; /* sets main page background */
}
[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-tabs1 {
  background-color: #262b60 !important;
}

[data-md-color-scheme="indigo"] .md-header,
[data-md-color-scheme="indigo"] .md-tabs1 {
  background-color: #262b60 !important;
}
[data-md-color-scheme="indigo"] .md-header__inner,
[data-md-color-scheme="indigo"] .md-search__button {
  color: #ffffff !important;
}

[data-md-color-scheme="indigo"] .md-search__button:before,
[data-md-color-scheme="indigo"] .md-search__button:after {
  background-color: #ffffff !important;
  color: var(--md-default-fg-color) !important;
}

.hero-card {
  background-color: var(--md-code-bg-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 0 1rem 0;
}



.hero-card p {
  font-size: 1.0rem;
  line-height: 1.6;
}